################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net8.0
/obj
/.vs/HelloWorld/v17
/.vs/HelloWorld/DesignTimeBuild
/.vs/ProjectEvaluation
/.vs/HelloWorld/FileContentIndex
/Test/TestHelloWorld/bin/Debug/net8.0
/Test/TestHelloWorld/obj/Debug/net8.0/ref
/Test/TestHelloWorld/obj/Debug/net8.0
/Test/TestHelloWorld/obj
/Src/HelloWorld/bin/Debug/net8.0
/Src/HelloWorld/obj
